events  {}
http {
    <% serverConfig.forEach(targetGroup => { %>
    upstream <%= targetGroup.targetGroup %> {
        <%- targetGroup.targetAlgorithm && targetGroup.targetAlgorithm !=="round-robin" ? `${targetGroup.targetAlgorithm};` : '' %> 
    <% targetGroup.targetServer.forEach(server => { %>
        server <%- server.server %><%- server.weight ? ` weight=${server.weight}`: "" %><%- server.max_fails ? ` max_fails=${server.max_fails}`: "" %><%- server.fail_timeout ? ` fail_timeout=${server.fail_timeout}s`: "" %>;
    <% }) %>
    }
    <% }); %>
    

    server {
        listen <%- addressInfo.port %>;
    <% serverConfig.forEach(targetGroup => { %>
        location <%- targetGroup.location %> {
            proxy_pass http://<%- targetGroup.targetGroup %>;
        }
    <% }) %>
    }

    server {
        listen 8080;
        
        location /nginx_status {
            stub_status;
            allow 127.0.0.1;
            deny all;
        }
    }
}